<div ng-app="app">
 <!--  {{ 1 + 1 }}
 -->

  <div ng-controller="restaurantsCtrl" ng-init="setup()">
    <div ng-repeat="restaurant in restaurants">
      <h4 ng-click="toggle = !toggle" > {{ restaurant.name }} </h4>
      <div ng-show="toggle">
      <p> Description: {{ restaurant.description }} </p>
      <p> Address: {{ restaurant.address }} </p>
      <p> Website: {{ restaurant.website }} </p>
      <p> Phone: {{ restaurant.phone }} </p>
      <p> Rating: {{ restaurant.rating }} </p>
      </div>
    </div>
    <hr>
    <h2> Add a Paleo Friendly Restaurant </h2>

  <div>
    Name: <input ng-model="newRestaurantName">
    Description: <input ng-model="newRestaurantDescription">
    Address: <input ng-model="newRestaurantAddress">
    Website: <input ng-model="newRestaurantWebsite">
    Phone: <input ng-model="newRestaurantPhone">
    Rating: <input ng-model="newRestaurantRating">

    <button ng-click="addRestaurant(newRestaurantName, newRestaurantDescription, newRestaurantAddress, newRestaurantWebsite, newRestaurantPhone, newRestaurantRating)">Add Restaurant</button>

  </div>

  </div>
</div>
